@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");

.kanit {
  font-family: "kanit", sans-serif;
}
.kanitlight {
  font-family: "kanit", sans-serif;
  font-weight: 300;
}
.acenter {
  text-align: center;
}
